---
layout: splash
header:
  overlay_filter: "0.8"
  overlay_image: /assets/images/3pgb5eqvaie-lorenzo-cafaro.jpg    
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Always learning and passionate for creating."
intro: 
  - excerpt: '*Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time. - Thomas Edison*'
---

{% include feature_row id="intro" type="center" %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}