---
layout: splash
header:
  overlay_filter: "0.2"
  overlay_image: /assets/images/7yeoc7e8ozg-olu-eletu.jpg    
excerpt: "Continuously improving. Always learning."
intro: 
  - excerpt: '*Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time. - Thomas Edison*'
---

{% include feature_row id="intro" type="center" %}

<h3 class="archive__subtitle">Purpose</h3>

<p>I have been working in the software industry for over decade and not a day goes by where I don't reach out to the community to find a solution to a problem.  It's time to give back.  Frequently, I run into issues that I can't quickly Google and find an answer.  For these issues I would like to share my experience with the community and maybe help someone out there that runs into the same problem.</p> 

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}